main{
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 166px;
    h1{
        font-weight: 400;
        font-size: 64px;
        line-height: 84px;
        display: flex;
        align-items: center;


    }
    span{
       text-align: center;
    }
    p{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    
    }
    .main-div{
        width: 840px;
        margin: 0 auto;
        margin-top: 64.5px;

    }

}